li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;

  transition: all 50ms ease-in-out;
}

li div {
  display: flex;
  align-items: center;
}
li .edit {
  margin-right: 15px;
  color: #51c5de;
  cursor: pointer;
  transition: all 50ms ease-in-out;
}

li .delete {
  margin-right: 15px;
  color: #f04c64;
  cursor: pointer;
  transition: all 50ms ease-in-out;
}

li:hover {
  background: #51c5de;
}

li:hover .edit, li:hover .delete {
  color: rgb(0, 0, 0, 0.7);
}
